/* --- ABOUT PAGE --- */
.about {
    padding-top: 120px;
}

.about h3 {
    padding: 10px 30px;
    font-size: 30px;
}

.about h4 {
    padding: 10px 30px;
    font-size: 20px;
}

.about ul {
    list-style-type: disc;
    text-align: left;
    margin: 0 40px;
}

.about li {
    padding: 5px;
}