/* --- ABOUT PAGE --- */
.about-container {
    /* display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.about {
    padding-top: 120px;
}

.about h3 {
    padding: 10px 30px;
    font-size: 30px;
    text-align: center;
}

.about h4 {
    padding: 10px 30px;
    font-size: 20px;
}

.about ul {
    list-style-type: disc;
    text-align: left;
    margin: 0 40px;
}

.about li {
    padding: 5px;
}

.images {
    padding: 0 40px;
    gap: 20px;
    align-self: center;
}

.images img {
    margin: 20px 0;
    max-width: 100%;
    border-radius: 5px;
}

.about p {
    font-size: 16px;
}