/* --- RESET & BASE --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    line-height: 1.6;
    background: #fdfdfd;
    color: #222;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}